//- includes/head.pug
head
  meta(charset='utf-8')
  meta(name='description' content='Playing with the HTML5 WebGL')
  meta(name='author' content='Ivan Petrovic')

  title WebGL
  link(rel='stylesheet' href='css/style.css')
